@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Noto Sans";
}

h3{
    color: gray;
    margin: 50px 100px 20px;
}

form{
    margin: 0 100px;
    font-size: 16px;
    color: #666666;
}

#name{
    width: 564px;
    height: 26px;
    padding: 16px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #CCCCCC;
}

#mail{
    width: 564px;
    height: 26px;
    padding: 16px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #CCCCCC;
}

#cancelar{
    width: 172px;
    height: 56px;
    background-color: transparent;
    color: #5D5FEF;
    border-radius: 8px;
    gap: 10px;
    border: 2px #5D5FEF solid;
    margin-right: 200px;
    cursor: pointer;
}

#enviar{
    width: 172px;
    height: 56px;
    background-color: #5D5FEF;
    color: white;
    border-radius: 8px;
    gap: 10px;
    border: none;
    cursor: pointer;
}